<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Acceso Denegado</title>
</head>
<body>
	<div>No tienes permiso para ver esta página o ejecutar esta acción
		<a th:href="@{/}">[[#{accion.regresar}]]</a>
	</div>
</body>
</html>