<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Agregar Comercio</title>
</head>
<body>
	<section th:fragment="agregarTope">
		<div id="idAgregarTope" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title" th:text="#{accion.agregar}">Agregar Tope</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form th:action="@{/guardarTope}" th:object="${tope}" method="POST" class="was-validated">
						<div class="modal-body">
							<div class="form-group">
										<label for="mineral.idMineral" th:text="#{mineral.tipo}">Tipo de Mineral</label>
										<select name="mineral.idMineral" class="form-control"  required="true">
											  <option value="" selected></option>
											  <option value="1">Oro</option>
											  <option value="2">Plata</option>
											  <option value="3">Esmeraldas</option>
											  <option value="4">Carbón</option>
											  <option value="5">Materiales de Construcción</option>
										</select>
							</div>
							<div class="form-group">
								<label for="topeAnno" th:text="#{tope.anno}">Anno</label>
								<input type="text" class="form-control" name="topeAnno" required="true"></input>
							</div>
							
							<div class="form-group">
								<label for="topeMes" th:text="#{tope.mes}">Mes</label>
								<input type="text" class="form-control" name="topeMes" required="true"></input>
							</div>
							
							<div class="form-group">
								<label for="cantidadTope" th:text="#{tope.cantidad}">Cantidad</label>
								<input type="text" class="form-control" name="cantidadTope" required="true"></input>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>