<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Agregar Comercialización</title>
</head>
<body>
	<section th:fragment="agregarComercializacion">
		<form th:action="@{/guardarComer}" th:object="${comercio}" method="POST" class="was-validated"> 
			<input type="hidden" name="idComercio" th:field="*{idComercio}"></input>
			<section th:replace="layout/botonesGuardarComercializacion :: botonesGuardarComercializacion"></section>
			<div id="details">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header">
									<h4>[[#{accion.agregar}]] Comercialización</h4>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="cantidad">[[#{mineral.cantidad}]]</label>
										<input type="text" class="form-control" name="comercializacion.cantidadMineral" required="true" th:field="*{comercializacion.cantidadMineral}"></input>									
									</div>
									<div class="form-group">
										<label for="comercializacion.mineral.idMineral" th:text="#{mineral.tipo}">Tipo de Mineral</label>
										<select name="comercializacion.mineral.idMineral" class="form-control"  required="true" th:field="*{comercializacion.mineral.idMineral}">
											  <option value="" selected></option>
											  <option value="1">Oro</option>
											  <option value="2">Plata</option>
											  <option value="3">Esmeraldas</option>
											  <option value="4">Carbón</option>
											  <option value="5">Materiales de Construcción</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>