<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Agregar Comercio</title>
</head>
<body>
	<section th:fragment="agregarComercio">
		<div id="idAgregarComercio" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title" th:text="#{accion.agregar}">Agregar Comercio</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form th:action="@{/guardar}" th:object="${comercio}" method="POST" class="was-validated">
						<div class="modal-body">
							<div class="form-group">
								<label for="nombre" th:text="#{comercio.nombre}">Nombre</label>
								<input type="text" class="form-control" name="nombre" required="true"></input>
							</div>
							<div class="form-group">
								<label for="tipoDocumento" th:text="#{comercio.tipo.documento}">Tipo de Documento</label>
								<select name="tipoDocumento" class="form-control"  required="true">
									  <option value="" selected></option>
									  <option value="1">Cédula</option>
									  <option value="2">Nit</option>
									  <!--<option value="3" selected>Nit</option> -->
								</select>
							</div>
							<div class="form-group">
								<label for="documento" th:text="#{comercio.documento}">Documento</label>
								<input type="text" class="form-control" name="documento" required="true"></input>
							</div>
							<!-- <div class="form-group">
								<label for="fechaRegistro" th:text="#{comercio.fecha.registro}">Fecha de Registro</label>
								<input type="date" class="form-control" name="fechaRegistro"></input>
							</div> -->
							<div class="form-group">
								<label for="tipoUsuario" th:text="#{comercio.tipo.usuario}">Tipo de Usuario</label>
								<select name="tipoUsuario" class="form-control"  required="true">
									  <option value="" selected></option>
									  <option sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" value="1">Explotador</option>
									  <option sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" value="2">Comercializador</option>
								</select>
							</div>
							<div class="form-group">
								<label for="municipio" th:text="#{comercio.municipio}">Municipio</label>
								<input type="text" class="form-control" name="municipio" required="true"></input>
							</div>
							<div class="form-group">
								<label for="departamento" th:text="#{comercio.departamento}">Departamento</label>
								<input type="text" class="form-control" name="departamento" required="true"></input>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>