<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Botones Inscripción de Comercio</title>
</head>
<body>
	<section th:fragment="botonesAgregarComercio" class="py-4 mb-4 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')">
					<a href="#" class="btn btn-primary btn-block"
						data-bs-toggle="modal" data-bs-target="#idAgregarComercio">
						<i class="fas fa-plus"></i>[[#{accion.incripcion}]]
					</a>
				</div>
				<div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR')">
					<a th:href="@{/topes}" class="btn btn-primary btn-block">
						<i class="fas fa-plus"></i>[[#{configurar.topes.mineral}]]
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>