<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Botones Editar</title>
</head>
<body>
	<section th:fragment="botonesEditarComercio">
		<table align="center">
			<tr>
				<td>
					<a th:href="@{/}" class="btn btn-light btn-block">
						<i class="fas fa-arrow-left"></i>[[#{accion.regresar}]]
					</a>
				</td>
				<td>
					<button type="submit" class="btn btn-success btn-block">
						<i class="fas fa-check"></i>[[#{accion.guardar}]]
					</button>
				</td>
				<td  sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')">
					<a th:href="@{/aprobar(idComercio=${comercio.idComercio})}" class="btn btn-light btn-block">
						<i class="fas fa-check-square"></i>[[#{accion.aprobar}]]
					</a>
				</td>
				<td  sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')">
					<a th:href="@{/reprobar(idComercio=${comercio.idComercio})}" class="btn btn-danger btn-block">
						<i class="fas fa-trash"></i>[[#{accion.reprobar}]]
					</a>
				</td>
				<td>
					<a th:href="@{/eliminar(idComercio=${comercio.idComercio})}" class="btn btn-danger btn-block">
						<i class="fas fa-trash"></i>[[#{accion.eliminar}]]
					</a>
				</td>
			</tr>
		</table>
	</section>
</body>
</html>