<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Botones Editar</title>
</head>
<body>
	<section th:fragment="botonesEditarComercializacion">
		<table align="center">
			<tr>
				<td><a th:href="@{/}" class="btn btn-light btn-block">
					<i class="fas fa-arrow-left"></i>[[#{accion.regresar}]]
				</a></td>
				<td><button type="submit" class="btn btn-success btn-block">
					<i class="fas fa-check"></i>[[#{accion.guardar}]]
				</button></td>
				<td><a th:href="@{/eliminarComer(idComercializacion=${comercializacion.idComercializacion})}" class="btn btn-danger btn-block">
					<i class="fas fa-trash"></i>[[#{accion.eliminar}]]
				</a></td>
			</tr>
		</table>
	</section>
</body>
</html>