<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Editar Comercio</title>
</head>
<body>
	<section th:fragment="editarComercio">
		<form th:action="@{/guardar}" th:object="${comercio}" method="POST" class="was-validated"> 
			<input type="hidden" name="idComercio" th:field="*{idComercio}"></input>
			<section th:replace="layout/botonesEditarComercio :: botonesEditarComercio"></section>
			<div id="details">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header">
									<h4>[[#{accion.editar}]] Solicitud</h4>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="nombre">[[#{comercio.nombre}]]</label>
										<input type="text" class="form-control" name="nombre" required="true" th:field="*{nombre}"></input>									
									</div>
									<div class="form-group">
										<label for="tipoDocumento" th:text="#{comercio.tipo.documento}">Tipo de Documento</label>
										<select name="tipoDocumento" class="form-control"  required="true" th:field="*{tipoDocumento}">
											  <option value="" selected></option>
											  <option value="1">Cédula</option>
											  <option value="2">Nit</option>
											  <!--<option value="3" selected>Nit</option> -->
										</select>
									</div>
									<div class="form-group">
										<label for="documento" th:text="#{comercio.documento}">Documento</label>
										<input type="text" class="form-control" name="documento" required="true" th:field="*{documento}"></input>
									</div>
									<div class="form-group">
										<label for="tipoUsuario" th:text="#{comercio.tipo.usuario}">Tipo de Usuario</label>
										<select name="tipoUsuario" class="form-control"  required="true"  th:field="*{tipoUsuario}">
											  <option value="" selected></option>
											  <option sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" value="1">Explotador</option>
											  <option sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" value="2">Comercializador</option>
										</select>
									</div>
									<div class="form-group">
										<label for="municipio" th:text="#{comercio.municipio}">Municipio</label>
										<input type="text" class="form-control" name="municipio" required="true"  th:field="*{municipio}"></input>
									</div>
									<div class="form-group">
										<label for="departamento" th:text="#{comercio.departamento}">Departamento</label>
										<input type="text" class="form-control" name="departamento" required="true"  th:field="*{departamento}"></input>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		
		<div  sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>Lista de Explotaciones</h4>
						</div>
						<div th:if="${explotaciones != null and !explotaciones.empty}">
							<table class="table table-stryped">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th th:text="#{mineral.cantidad}">Cantidad</th>
										<th th:text="#{mineral.tipo}">Mineral</th>
										<th th:text="#{explotacion.estado}">Estado</th>
								    	<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								 <tr th:each="explota, contador : ${explotaciones}">
								 		<td>[[${contador.count}]]</td>
								 		<td>[[${explota.cantidadMineral}]]</td>
								 		<td>[[${explota.mineral.nombreMineral}]]</td>
								 		<td>[[${explota.idEstadoExplotacion}]]</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 				th:href="@{/aprobarExplotacion(idExplotacion=${explota.idExplotacion})}" class="btn btn-success btn-block">
								 				<iclass="fas fa-check-square"></i> [[#{accion.aprobar}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 				th:href="@{/reprobarExplotacion(idExplotacion=${explota.idExplotacion})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.reprobar}]]
								 			</a>
								 		</td>
										<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 			th:href="@{/editarExplotacion(idExplotacion=${explota.idExplotacion})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.editar}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" 
								 				th:href="@{/eliminarExplotacion(idExplotacion=${explota.idExplotacion})}" class="btn btn-dark">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
								 			</a>
								 		</td>
								 	</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center p-2" th:if="${explotaciones==null or explotaciones.empty}">
							<span th:text="#{explotacion.lista.vacia}">Lista Vacia</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div  sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>Lista de Comercializaciones</h4>
						</div>
						<div th:if="${comercializaciones != null and !comercializaciones.empty}">
							<table class="table table-stryped">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th th:text="#{mineral.cantidad}">Cantidad</th>
										<th th:text="#{mineral.tipo}">Mineral</th>
										<th th:text="#{explotacion.estado}">Estado</th>
										<th th:text="#{explotacion.fecha.estado}">Fecha de Estado</th>
								    	<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								 <tr th:each="comer, contador : ${comercializaciones}">
								 		<td>[[${contador.count}]]</td>
								 		<td>[[${comer.cantidadMineral}]]</td>
								 		<td>[[${comer.mineral.nombreMineral}]]</td>
								 		<td>[[${comer.idEstadoComercializacion}]]</td>
								 		<td>[[${comer.fechaEstadoComercializacion}]]</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 				th:href="@{/aprobarComer(idComercializacion=${comer.idComercializacion})}" class="btn btn-success btn-block">
								 				<iclass="fas fa-check-square"></i> [[#{accion.aprobar}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 				th:href="@{/reprobarComer(idComercializacion=${comer.idComercializacion})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.reprobar}]]
								 			</a>
								 		</td>
										<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 				th:href="@{/editarComer(idComercializacion=${comer.idComercializacion})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.editar}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')"  
								 				th:href="@{/eliminarComer(idComercializacion=${comer.idComercializacion})}" class="btn btn-dark">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
								 			</a>
								 		</td>
								 	</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center p-2" th:if="${comercializaciones==null or comercializaciones.empty}">
							<span th:text="#{comercializacion.lista.vacia}">Lista Vacia</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>