<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Editar Explotación</title>
</head>
<body>
	<section th:fragment="editarTope">
		<form th:action="@{/guardarEdicionTope}" th:object="${tope}" method="POST" class="was-validated"> 
			<input type="hidden" name="idTopeMineral" th:field="*{idTopeMineral}"></input>
			<section th:replace="layout/botonesEditarTope :: botonesEditarTope"></section>
			<div id="details">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header">
									<h4>[[#{accion.editar}]] Tope Mineral</h4>
								</div>
								<div class="card-body">						
									<div class="form-group">
										<label for="mineral.idMineral" th:text="#{mineral.tipo}">Tipo de Mineral</label>
										<select name="mineral.idMineral" class="form-control"  required="true" th:field="*{mineral.idMineral}">
											  <option value="" selected></option>
											  <option value="1">Oro</option>
											  <option value="2">Plata</option>
											  <option value="3">Esmeraldas</option>
											  <option value="4">Carbón</option>
											  <option value="5">Materiales de Construcción</option>
										</select>
									</div>
									<div class="form-group">
										<label for="topeAnno" th:text="#{tope.anno}">Anno</label>
										<input type="text" class="form-control" name="topeAnno" required="true" th:field="*{topeAnno}"></input>
									</div>
									
									<div class="form-group">
										<label for="topeMes" th:text="#{tope.mes}">Mes</label>
										<input type="text" class="form-control" name="topeMes" required="true" th:field="*{topeMes}"></input>
									</div>
									
									<div class="form-group">
										<label for="cantidadTope" th:text="#{tope.cantidad}">Cantidad</label>
										<input type="text" class="form-control" name="cantidadTope" required="true" th:field="*{cantidadTope}"></input>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>	
	</section>
</body>
</html>