<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Listado Topes de Minerales</title>
</head>
<body>
	<section th:fragment="listadoTopes" id="topes">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>[[#{topes.titulo.list}]]</h4>
						</div>
						<div th:if="${topes != null and !topes.empty}">
							<table class="table table-stryped">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th th:text="#{tope.mineral}">Mineral</th>
										<th th:text="#{tope.anno}">Anno</th>
										<th th:text="#{tope.mes}">Mes</th>
										<th th:text="#{tope.cantidad}">Cantidad</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								 <tr th:each="tope, contador : ${topes}">
								 		<td>[[${contador.count}]]</td>
								 		<td>[[${tope.mineral.nombreMineral}]]</td>
								 		<td>[[${tope.topeAnno}]]</td>
								 		<td>[[${tope.topeMes}]]</td>
								 		<td>[[${tope.cantidadTope}]]</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" 
								 				th:href="@{/editarTope(idTopeMineral=${tope.idTopeMineral})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.editar}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" 
								 				th:href="@{/eliminarTope(idTopeMineral=${tope.idTopeMineral})}" class="btn btn-dark">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
								 			</a>
								 		</td>
								 </tr>
							</tbody>
						</table>
						</div>
						<div class="text-center p-2" th:if="${topes==null or topes.empty}">
							<span th:text="#{topes.lista.vacia}">Lista Vacia</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>