<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Listado Comercios</title>
</head>
<body>
	<section th:fragment="listadoComercios" id="comercios">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 sec:authorize="hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')">[[#{bandeja.titulo.aprobacion}]]</h4>
							<h4 sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_COMERCIALIZADOR')">[[#{comercio.titulo.list}]]</h4>
						</div>
						<div th:if="${comercios != null and !comercios.empty}">
							<table class="table table-stryped">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th th:text="#{comercio.nombre}">Nombre</th>
										<th th:text="#{comercio.documento}">Documento</th>
										<th th:text="#{comercio.fecha.registro}">Fecha de Registro</th>
										<th th:text="#{comercio.municipio}">Municipio</th>
										<th th:text="#{comercio.departamento}">Departamento</th>
										<th th:text="#{comercio.estado.inscripcion}">Estado Inscripción</th>
										<th th:text="#{comercio.fecha.estado.inscripcion}">Fecha Estado Inscripción</th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								 <tr th:each="comercio, contador : ${comercios}">
								 		<td>[[${contador.count}]]</td>
								 		<td>[[${comercio.nombre}]]</td>
								 		<td>[[${comercio.documento}]]</td>
								 		<td>[[${comercio.fechaRegistro}]]</td>
								 		<td>[[${comercio.municipio}]]</td>
								 		<td>[[${comercio.departamento}]]</td>
								 		<td>[[${comercio.idEstadoInscripcion}]]</td>
								 		<td>[[${comercio.fechaEstadoInscripcion}]]</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" th:href="@{/editar(idComercio=${comercio.idComercio})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.editar}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_EXPLOTADOR')" th:href="@{/agregarExplotacion(idComercio=${comercio.idComercio})}" class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.explotacion}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_COMERCIALIZADOR')" th:href="@{/agregarComer(idComercio=${comercio.idComercio})}"
								 			 class="btn btn-secondary">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.comercializacion}]]
								 			</a>
								 		</td>
								 		<td>
								 			<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXPLOTADOR') or hasRole('ROLE_COMERCIALIZADOR') or hasRole('ROLE_OPERADOR') or hasRole('ROLE_AUTORIZADOR')" th:href="@{/eliminar(idComercio=${comercio.idComercio})}" class="btn btn-dark">
								 				<iclass="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
								 			</a>
								 		</td>
								 </tr>
							</tbody>
						</table>
						</div>
						<div class="text-center p-2" th:if="${comercios==null or comercios.empty}">
							<span th:text="#{comercio.lista.vacia}">Lista Vacia</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>