<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Error topes</title>
</head>
<body>
	<div>Error no puedes superar los topes del mineral
		<a th:href="@{/}">[[#{accion.regresar}]]</a>
	</div>
</body>
</html>